:root {
  --solver-place-size: 86px;
}

.solver__board {
  margin-left: auto;
  margin-right: auto;
}

.solver__chooser {
  margin-left: auto;
  margin-right: auto;
}

.solver__chooser_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.solver__chooser_value {
  flex: 1 1 0px; /* Make all values in a row the same size. */
  font-size: 16px;
  height: calc(var(--solver-place-size) / 2);
  margin: calc(var(--space) / 2);
}

.solver__place {
  font-size: 20px;
  font-weight: bold;
  height: var(--solver-place-size);
  margin: var(--space);
  width: var(--solver-place-size);
}

.solver__place--current {
  background-color: var(--highlight);
}

.solver__places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.solver__target_content {
  display: flex;
  justify-content: stretch;
}

.solver__target_input {
  appearance: textfield; /* Hide up/down steppers. */
  flex: 1;
  font-size: 20px;
  text-align: center;
  height: var(--solver-place-size);
}

.solver__target_input--current {
  background-color: var(--highlight);
}
