:root {
  --solver-place-size: 86px;

  /* Match the width of 6 tiles. */
  --solver-board-width: calc(
    (var(--solver-place-size) + var(--space) * 2) * 6
  );
}

.solver__board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--solver-board-width);
}

.solver__chooser {
  max-width: var(--solver-board-width);
  margin-left: auto;
  margin-right: auto;
}

.solver__chooser_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.solver__chooser_value {
  flex: 1 1 0px; /* Make all values in a row the same size. */
  font-size: 16px;
  height: calc(var(--solver-place-size) / 2);
  margin: calc(var(--space) / 2);
}

.solver__place {
  font-size: 20px;
  font-weight: bold;
  height: var(--solver-place-size);
  margin: var(--space);
  width: var(--solver-place-size);
}

.solver__place--current {
  background-color: var(--highlight);
}
